.header {
    text-align: center;
    background: #FFF5EE;

}

.header1,
.header2 {
    height: 30px;
    padding: 5px 0px;
    border-bottom: 1px solid #9EC1D4;


}

.layout {
    margin: auto;
    position: relative; /* Относительное позиционирование */

}
.sidebar,
.content {
    position: absolute;
    background: #FFF5EE;

}

.sidebar,
.header1,
.sidebar .select_items {
    /* Цвет фона */
    width: 350px; /* Ширина колонки */
    float: left;
}

.sidebar .search {
    border-bottom: 1px solid #9EC1D4;
}

.sidebar .search #search_field {
    width: 300px;
    font-style: italic;

}

.sidebar .select_items {
    height: 100vh;
    overflow-y: auto;
}


.select_items div{
    padding: 10px 10px;
    border-bottom: 1px solid #9EC1D4;
}

.select_items div:hover {
    background: lightgrey; /* Цвет фона активного пункта */
}

.sidebar .select_items .order_date, .order_status {
    float: right;
}

.sidebar .select_items .order_id {
    font-size: 20px;
    font-weight: bold;
}

.sidebar .select_items .order_date {
    font-size: 23px;
    font-weight: bold;
}

.sidebar .select_items .order_status {
    color: green;
}

.sidebar .select_items div:nth-child(2) .order_status,
.sidebar .select_items div:last-child .order_status {
    color: orange;
    min-width: 1000px;
}

::-webkit-scrollbar{
    width:12px;
}
::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
}

::-webkit-scrollbar-track {
    border-width: 0;
}

.content,
.header2 {

    margin-left: 350px; /* Сдвиг вправо */


}

